* {
  background-color: rgb(153, 42, 52);
  margin: 30px 250px;
}


.all {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.position{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}
.title{
color: red;
}
img {
  width: 300px;
  height: 300px;
}